* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    font-weight: 400;

    background-color: var(--white-light);
}

.container {
    max-width: calc(var(--container-width) + (var(--container-offset) * 2));
    width: 100%;
    margin: 0 auto;
    padding: 0 var(--container-offset);
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.button-reset {
    padding: 0;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}